table {    
    width: 100%;  
}

img {
    margin: 5px;
}

.filter-menu {
    padding-top: .5em;
}

.custom-btn {
    background-color: #002b5c;
    color: white;
}

mat-table {
    border-radius: 16px;  
}


